<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
	</startup>
	<appSettings>
		<add key="API_KEY" value="7428e935"/>
		<add key="API_SECRET" value="sbNNSh5KaXOopxLZ"/>
		<add key="APP_ID" value="aea45736-6ed6-44ad-b1f7-4a419e422400"/>
		<add key="privateKey" value="-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQC6zrqrEIqYg3Fj
FOgUc3tXoCNlQFirouja3M+5FW07xRj8GZfKe+Y4mherkxd+senYv+kzwz3nLMhm
89+ZN5l1rXloNgASQlPJW/LXX+Grd5ftBUEETu0YLWcnCGKuO+xCovJ5P8f6bN+9
lCPJavzuZOL6EyaQvjYWOYt9Rw2rVKrIyINXhmEL9aaIZYrk3YsawbKX5Zjp/4oA
cCOdQ1aNgBcjBn4r4eDDwnFZPFPO/NmSg8wkjZc80s7fq49fcVjRk05cEkWIJKaL
nzBPxUKdn+ycrj4So8MrS25hD64VZi+UMF/0v5dk8CuSD+ZyKF6oVQcNSDfSqiHV
3lZI8ZFFAgMBAAECggEAbk4nt18bF5d12pW7vGe8Sy+J9v2Z3i9h4+pC1f0q9QIb
ELFkCfJDLOUAWRWP6AXSGWSopSICaYDuDKywOV61ROFcMQbB4AY+R0X+DOLW9FK3
6QMTMyIPqhkVMd0nt842Ydqp5qKcyOiE7QKOZx6/n1z/Eb9BJHLMqS7tiNnt3l4r
56ewgomvg2EVQaGSZLIT3lrksXfbYuiYvgcNokkzKL3dtYMSxTHIGvujA77ZDu0L
qj8/Jp5vf7bLemmQh15BkARCwf6U2P0bP7DCu7XFUp+VpLy3PEVsUvTkqZgiGU1M
UtwsDNQNTMqbMYAtEnKBs4dsGLReodkdc1rE1JIJeQKBgQDgsNpZVpnQl/8NgDbj
ctFBWXnfoYj5ANrRHlkdTDxGSqrrL/oguVHRXKsAs+hZCN/GSQH0kRg7Wue11mG9
Sa2Uoj2uaMi02DTzdDD2pFdPKYV9cNNI95QvEaOARPT8PiNjAHG97mRhPFDnfFzp
tdmv/4EyFgkAgulHm6LWphzvzwKBgQDU1oHlgcoVt+YU60tTI1KNaenaXn8mqO9n
q1RgoiOlObXCVUtC/2ZBg++kaIHzZ+kdWNypS8prBHLL+RLroJNZZgE1RRVq50EG
4EI3oQbgmORHh7agUS7g2UfgyIVcvrjYdQvXTE5dHg0sUmEPKWj/P0dxoRKUiIca
8uDGVPL+qwKBgHQckEl4ijYURfZpGnRBYkeeAHADXvAmc+16/Fw6iC9e6KJvAZgl
jFVfyPKtBdX00wb5tWv4CwipOnJqXcneqDfV+4AEoCtsSzjAA4mBdajv8Q7Y3ian
4kjMmaxwdhVf2xOPKDgZWIAzFi/5wV343oynwdDrOC2uePTLRcQcxXlbAoGBAKQX
aXhnk0UhTissqRtE7V2Hnbs1BbTppAH6ToheGTtGfgKAvhC+VbkHHlhUFnRx1YFB
xIZln37YpCTsOBEf8NqI0T+frn6IIlNJzOOUq3e3iLA5SqzZSloiSs9b6a3ygRKp
UuK/ut8Bz0gvjxMgawn3YH6Tn36SsA8v1+oxDlMXAoGAcuZIeaF4qb03cx3rrZNS
ExUW14FmSTL+yos370qMBdeNLdwCOl/VzM2tFnrAuim4BWHFocLqCR3lpxRgdHjb
RQasBtKsbAFisv7xhzRPpGv8HTTfMw1Zi9FAy+nVBssNZakrw3TwTGoNohRQ3oEq
+v4/6e+FtefMTD8sHm+V2nM=
-----END PRIVATE KEY-----
"/>
	<add key="publicKey" value="-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAus66qxCKmINxYxToFHN7
V6AjZUBYq6Lo2tzPuRVtO8UY/BmXynvmOJoXq5MXfrHp2L/pM8M95yzIZvPfmTeZ
da15aDYAEkJTyVvy11/hq3eX7QVBBE7tGC1nJwhirjvsQqLyeT/H+mzfvZQjyWr8
7mTi+hMmkL42FjmLfUcNq1SqyMiDV4ZhC/WmiGWK5N2LGsGyl+WY6f+KAHAjnUNW
jYAXIwZ+K+Hgw8JxWTxTzvzZkoPMJI2XPNLO36uPX3FY0ZNOXBJFiCSmi58wT8VC
nZ/snK4+EqPDK0tuYQ+uFWYvlDBf9L+XZPArkg/mciheqFUHDUg30qoh1d5WSPGR
RQIDAQAB
-----END PUBLIC KEY-----
"/>
	</appSettings>
</configuration>